.parent {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.child {
	width: 30%;
	padding: 20px;
	flex: 0 1 550px;
	flex: 1 1 300px;
	text-align: center;

}

.child a img{
	border-radius: 10px;
	transition-property: opacity;
	transition-duration: 0.5s;
}
.child a img:hover{
	opacity: 0.6;
}

.child a h2{
	padding-top: 10px;
	color: #ea5297;
	font-size: 22px;
  	letter-spacing: 1px;
  	border-bottom: 3px solid #ea5297;
  	margin: 0 auto;
  	max-width: 220px;
}