{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Veggies da Mó</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="{% static 'images/logotipo.png' %}" />
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base-style.css' %}" />
		{% block linkscssjs %}
	    {% endblock %}
	</head>
	<body>
		<nav>
			<p id="logo-letters">VEGGIES DA <b> MÓ </b></p>
			<ul id="nav-l" class="nav-links">
				<li><a href="{% url 'mainApp:index'  %}">Página Inicial</a></li>
				<li><a href="{% url 'mainApp:store'  %}">Loja</a></li>
				<li><a href="#we">Quem Somos</a></li>
				<li><a href="#contact">FAQs</a></li>
				<li><a href="#contacts">Contactos </a></li>
			</ul>
			<div onclick="navAppear()" class="menu-btn">
    			<div class="menu-btn__burger"></div>
  			</div>
		</nav>

		<div class="blockcontent">
			{% block content %}
	        {% endblock %}
        </div>

		<div class="footer">
			<div class="footer-body">
				<div id="we">
		  			<p>Os Veggies da Mó são produtos saudáveis vegans e vegetarianos. Caseirinhos, cheios de sabor e cozinhados com muito amor, podem ser encomendados e distribuídos na zona de Almeirim, Alpiarça, Fazendas de Almeirim e Santarém. -Entregues congelados</p>
	  			</div>

	  			<div>
	  				<h4>Segue-nos</h4>
	  				<a target="_blank" href="https://www.instagram.com/veggiesdamo/"><span class="fab fa-instagram"></span> </a>
		  			<a target="_blank" href="https://www.facebook.com/veggiesdamo/"><span class="fab fa-facebook-square"></span> </a>
		  			
	  			</div>
	  			
	  			<div id="contacts" class="contacts">
					<a href="tel:+351913547720"> T.+351 913547720	</a>		
		  			<p>E.monicamendoncac@gmail.com</p>
	  			</div>
  			</div>
		</div>
		<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
	</body>
</html>

