{% extends 'mainApp/base.html' %}
{% load static %}
{% block linkscssjs %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/products-style.css' %}" />
{% endblock %}
{% block content %}
	<ul class="list">
		{% for prod in products %}
			<li>
			  	<a href="{% url 'mainApp:product' prod.product_type prod.id %}">
				  	<img src={{ prod.suggestion_image.url }}  onmouseover="this.src='{{ prod.second_image.url }}'" onmouseout="this.src='{{ prod.suggestion_image.url }}'" height="350" width="300" >
				  	<div class="infomation">
					  	<p>{{ prod.product_name }}</p>
					  	<p id="price">{{ prod.price }}€</p>
					  	<i id="eye" class="fa fa-eye" ></i>
				  	</div>
			  	</a>
		  	</li>
		{% endfor %}
	</ul>
{% endblock %}